@page
@using EmpresaEntregas.Models
@model IndexModel
@{
	ViewData["Title"] = "Tracking";
}

<div class="text-center"><br/><br/>
    <h1 class="display-4">Tracking</h1><br/>
    <div class="div1">
        <input id="txtval" type="text" placeholder="Número da Encomenda" class="tracking-input"/>
    </div>
    <div class="div2">
        <input type=image src=~/img/tracking.png id="button" class="tracking-button"/>
    </div>
    <div>
        <br/><br/><br/><br/><br/><img src="~/img/tracking_img.png" height="196" width="628"/>
    </div>
</div>
